body, div {
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

#container {
    display: flex;
    flex-flow: column;
}

.site-item, #blur {
    width: 100%;
    height: 100vh;
}

#blur {
    position: absolute;
    background-color: #D8CAAE;
    opacity: 100%;
}

#header-container, #about-me-pb-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pb-container {
    color: #643A15;
    z-index: 1;
    text-align: center;
}

#pb-container h1 {
    font-size: 3vmax;
}

.pb {
    height: 18vmax;
    width: 18vmax;
    border-radius: 50%;
}

#about-me-container {
    color: #1E0E05;
    background-color: #99652C;
}

.title {
    font-size: 4.5vmax;
    text-align: center;
}

#links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.fa {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;
}

.fa:hover {
    opacity: 0.7;
    transform: .5s;
}

#about-me-pb-text-container {
    flex-flow: row wrap;
    margin-top: 8vmax;
    margin-bottom: 8vmax;
}

#about-me-pb-text-container h1, .about-me-item {
    width: 100%;
}

.text {
    color: #1E0E05;
    text-align: center;
    width: 60%;
    margin-left: 40px;
    font-size: 2.2vmax;
}

hr {
    width: 80%;
    border: 1px solid #1E0E05;
    border-radius: 5px;
}

#projects-container, #projects {
    background-color: #643A15;
    width: 100%;
    min-height: 100vh;
}

#projects {
    width: 100%;
    min-height: 70%;
}

#projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.project {
    color: #1E0E05;
    background-color: #ADAF95;
    width: 330px;
    height: 330px;
    margin-left: 10px;
    text-align: center;
    box-shadow: 2px 2px 1px 2px #A17F53;
    border: 2px solid #1E0E05;
    border-radius: 25px;
    margin-top: 40px;
    margin-left: 3.5%;
    margin-right: 3.5%;

    filter: brightness(85%);
    -webkit-filter: brightness(85%);
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;
}

.project:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    box-shadow: 0 0 0 2px #1E0E05;
    transform: translateY(-3px);
}

.project .project-image {
    margin-top: 10px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.project p {
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 1100px) {
    #about-me-pb-text-container {
        flex-flow: column wrap;
    }
    #about-me-pb-text-container .pb {
        margin-bottom: 10%;
    }

    .text {
        margin-top: 10px;
        width: 90%;
        margin-left: 20px;
    }
    .project {
        margin-top: 8%;
    }
}

@media only screen and (max-width: 600px) {
    #projects {
        flex-flow: column wrap;
    }
    .project {
        align-self: center;
        margin-top: 8%;
    }
}