header #header-container{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    background-color: red;
}

header #blur {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    background-color: lightblue;
    opacity: 0.23;
}

header #background-img {
    min-width: 100%;
    min-height: 100%;
}

header .pb {
    position: absolute;
    min-width: 150px;
    min-height: 150px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50.3%;
    transform: translate(-50%, -50%);
}

.pb {
    border-radius: 50%;
}

.container {
    background-color: black;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 100%;
    left: 0;
    right: 0;
}

.container h1, .about-me-container h1, .about-me-container h2 {
    color: white;
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#projects {
    display: flex;
    position: absolute;  
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    flex-wrap: wrap;
    background-color: red;
    min-width: 100%;
    justify-content: space-evenly;
    padding-bottom: 80px;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

.project {
    box-shadow: 2px 2px 1px 2px #888888;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    margin-top: 80px;
    background-color: white;
    width: 250px;
    height: 250px;
    margin-left: 3.5%;
    margin-right: 3.5%;

    filter: brightness(85%);
    -webkit-filter: brightness(85%);
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;
}

.project:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    box-shadow: 0 0 0 2px #000000;
    transform: translateY(-3px);
}

.project p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
}

.project h3 {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.title {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.project-image {
    margin-top: 10px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.about-me-container h1, .about-me-container h2 {
    color: black;
}

.about-me-container {
    background-color: yellow;
    top: 200%;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    right: 0; 
}

.about-me-container2 {
    background-color: green;
    margin-top: 270px;
    display: flex;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    flex-wrap: wrap;
    min-width: 100%;
}

.about-me-container .pb {
    margin: auto;
    height: 250px;
    width: 250px;
    margin-left: 20%;
    margin-right: 40px;
}

.about-me-container p {
    color: black;
    width: 40%;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
}

.about-me-container h2 {
    font-size: 40px;
    margin-top: 80px;
    top: 50%;
}

#hr-tag {
    position: absolute;
    top: 50%;
    width: 100%;
}

hr {
    align-self: center;
    border: 1px solid gray;
    border-radius: 5px;
    width: 80%;
    opacity: 70%;
}

@media only screen and (max-width: 1100px) {
    .title {
        font-size: 50px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .project {
        margin-top: 80px;
        margin-left: 3%;
        margin-right: 3%;
    }
}